/*---
title:   Card
section: Card Components
---

Use this class for cards styling.
Typically you'll want to use either a `<section>` or a `<div>` element

```example:html
<div class="card">Sub-html elements goes here.</div>
<section class="card">Sub-html elements goes here.</section>
```
*/
.card {
  max-width: 670px;
  padding: 15px;
  transition: 180ms all ease-in-out;

  .card__border {
    position: relative;
    padding: 25px;
    border: 1px solid #cccccc;
    border-radius: 4px;

    .card__iphone {
      display: inline-block;
      margin-left: 10px;
      vertical-align: top;
      font-weight: 600;
      font-size: 20px;
    }

    .card__product__info {
      display: block;
      line-height: 1.2;

      &.card__price-new {
        font-size: 18px;
        font-weight: 600;
        color: #333333; //#00a99a;
        @media (min-width: 450px) {
          font-size: 30px;
        }
      }

      &.card__price-old {
        font-size: 18px;
        color: #656565;
        text-decoration: line-through;
        @media (min-width: 450px) {
          font-size: 30px;
        }
      }

      &.card__info {
        font-size: 12px;
        color: #8c8c8c;
        @media (min-width: 450px) {
          font-size: 20px;
        }
        &.accessibility {
          color: #333333;
        }
      }

      &.card__action {
        margin-top: 30px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #3c5ecb;
        text-align: center;
        text-transform: uppercase;
        @media (min-width: 450px) {
          font-size: 30px;
        }

        &:hover {
          text-decoration: underline;
        }

        .card__arrow {
          border: solid #3c5ecb;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 5px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          @media (min-width: 450px) {
            padding: 8px;
            border-width: 0 4px 4px 0;
          }
        }
      }
    }

    .card__product__image {
      position: relative;
      margin-top: 50px;

      .card__product-image {
        width: 100%;
      }

      .card__badge {
        position: absolute;
        height: 90px;
        width: 90px;
        bottom: -28px;
        right: -20px;
        color: #ffffff;
        background-color: #00a99a;
        border-radius: 50%;
        @media (max-width: 450px) {
          top: 127px;
          right: -45px;
        }
        &.accessibility {
          color: #160b0b;
        }
        .card__text {
          position: absolute;
          left: 53%;
          top: 48%;
          margin: 0;
          padding: 0;
          transform: translate(-50%, -50%) rotate(23deg);

          .card__current-price {
            font-size: 18px;
            margin-bottom: -9px;
            display: block;
          }
        }
      }
    }
  }
}
