@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;600&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

@import './styles/sass/card.scss';

@media (max-width: 450px) {
  .page-title {
    padding: 0 20px;
  }
}